<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Property List.plist
   VVBS_Project_CustomCollectionView

   Created by Vuong Vu Bac Son on 8/31/20.
   Copyright (c) 2020 Vuong Vu Bac Son. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
